body {
    background-color: black;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

.main {

    background-image: url("assets/images/netflixbackground2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(500px, 100vw);
    height: 90vh;
    filter: blur(0.11px);
    filter: opacity(20px);
    position: relative;
    /* filter: graysca/le(1); */

}
.first{
    display: flex;
    justify-content: center;
    max-width:70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.secimg{
    position: relative;
}
.secimg img{
    width: 555px;
    margin-top: 29px;
    position: relative;
    z-index: 10;
}
.secimg video{
    position: absolute;
    top: 51px;
    right:0;    
}
section.first > div{
    display:flex;
    flex-direction: column;
    padding: 34px 0;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first > div :nth-child(2){
    font-size: 24px;
   
}
 



.main .box {
    position: absolute;
    top: 0%;
    height: 90vh;
    width: 100%;
    opacity: 0.54;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
   
    align-items:center ;
    padding: 0 px;

    width: 100%;
    margin: auto;
    height: 6rem;

}

.main nav span img {
    color: rgb(236, 13, 13);
    width: 150px;
    position: relative;
    z-index: 100;
    height: 90px;
    margin-left:120px;
}
.flex{
    margin-right: 200px;
}

nav button {
    position: relative;
    z-index: 10;
    margin: 0 10px;
    font-weight: 600;
    font-size: 18px;
}
#language-opt{
   
}

.hero {
    height: calc(100% - 6rem);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 17px;
    padding: 0 20px;
    
}

.hero span {
    color: rgb(255, 255, 255);
   
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(51, 51, 51);
}

.btn {
    padding:  5px 34px;
    background-color: rgba(150, 150, 150, 0);
    color: white;
     border-radius: 4px;
     border: 1px solid rgba(240, 219, 219, 0.777);
     border-radius: 4px;
     cursor: pointer;
     font-weight: 400;

}

.btn-red {
    padding: 5px 15px;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 14px;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.btn btn-red {
    background-color: red;
    padding: 39px 40px;
    font-weight: 500;

    /* padding: 9pxpx; */


}

.main input {
    padding: 6px 101px 8px 14px;
    font-size: 20px;
    /* border-radius: 4px; */
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    border-radius: 8px;
    border: 1px solid rgba(246, 238, 238, 0.7);
}
.faqbox:hover{
    background-color: rgba(85, 85, 85, 0.692);
    color: rgb(255, 255, 255);
}
.faqbox{
    font-size: 24px;
    font-weight: 400;
    display: flex;
    background-color: rgba(183, 178, 178, 0.526);
    color: white;
    padding: 24px;
    
    justify-content: space-between;
    max-width: 70vw;
    margin: 34px auto;
    cursor: pointer;
    transition: all 0.3s ease-out;
    
    
}
.faq h2{
    text-align: center;
    padding: 34px;
    color: white;
    font-weight: 900;
    font-size: 48px;
}
footer{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* color: white; */
    /* font-size: 14px; */
    max-width: 60vw;
    margin: auto;
    padding: 30px;
    
}
 .footer-items { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    

}
.footer-items a{
    color: rgba(226, 226, 226, 0.993);

}
